---
# This is a sample database file for the DataMapper ORM
development: &defaults
  # These are the settings for repository :default
  #adapter:  sqlite3
  #database: sample_development.db
  adapter: simpledb        
  database: 'default'
  access_key: '1_your_access_key_1'
  secret_key: 'b_your_secret_key_b'

  domain: 'your_app_development'
  base_url: 'http://sdb.amazon.com'

  # Add more repositories
  # repositories:
  #   repo1:
  #     adapter:  sqlite3
  #     database: sample_1_development.db
  #   repo2:
  #     ...
 
test:
  <<:       *defaults
  database: sample_test.db
 
  # repositories:
  #   repo1:
  #     database: sample_1_test.db
 
production:
  <<:       *defaults
  database: production.db
 
  # repositories:
  #   repo1:
  #     database: sample_production.db
 
rake:
  <<: *defaults
