<h1>Foos controller, new action</h1>

 <%= form_for(@foo, :action => resource(:foos) ) do %>
 
  <p>
    <%= text_field :bar, :label => "bar" %>
  </p>
  
  <p>
    <%= submit "Create" %>
  </p>
<% end =%>
 
<%= link_to 'Back', resource(:foos) %>

<p>Edit this file in <tt>app/views/foos/new.html.erb</tt></p>
<p>For more information and examples of CRUD views read <a href="http://wiki.merbivore.com/howto/crud_view_example_with_merb_using_erb"> this wiki page</a>
